{% extends "layout.njk" %}

{% block content %}
<head>
<link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
</head>

      <div class="conteiner">
         <div class="card">
            
                  <!-- Imag zone -->
                  <section class="avatar"></section>

                  <!-- Info form -->

                  <section class="details">

                     <h3> Details</h3>

                     <div class="item">
                        <div>Full Name</div>
                        <div>Vitor Correia</div>
                     </div>

                     <div class="item">
                        <div>Age</div>
                        <div>25</div>
                     </div>

                     <div class="item">
                        <div>Level of schooling</div>
                        <div>Doctorate</div>
                     </div> 

                     <div class="item">
                        <div>Type of class</div>
                        <div>
                              <span>In Person</span>
                              <span>Remotely</span>
                        </div>
                     </div>    

                     <div class="item">
                        <div>Follow-up</div>
                        <div>
                              <span>Mathematics</span>
                              <span>Physics</span>
                        </div>
                     </div> 

                     <div class="item">
                        <div>Registration Date</div>
                        <div>25/08/2019</div>
                     </div>   
                  </section>
            </div>
         </div> 
      </div>


{% endblock content %}

